<script>
    //
    
    //新增留言
    $('body').on("submit", ".createCommentForm", function(evt){
        console.log('create');
        
        evt.preventDefault()
        
        var parames = {
            nickname:$(evt.currentTarget).find('input[name="nickname"]').val(),
            content:$(evt.currentTarget).find('textarea[name="content"]').val(),
            parent:$(evt.currentTarget).find('input[name="parent"]').val()
        }
        $.ajax({
            data: parames,
            url: '/createComment',
            method: 'POST',
            success: function(response){
                console.log(response.id)
                if(parames.parent==0){                    
                    $('.createComment').next().after(prependMain(parames.nickname, response.createdAt, response.id, parames.content))
                } else {
                    console.log($(evt.currentTarget).closest('.createSubComment').prev())
                    $(evt.currentTarget).closest('.createSubComment').prev().prepend(prependSub(parames.nickname, response.createdAt, response.id, parames.content))      
                }
            }
        })
        $(evt.currentTarget).find('textarea[name="content"]').val("在想什麼？")

    })
    //刪除留言
    $(".Y-container").on("click", ".deleteMain", function(evt){
        evt.preventDefault()
        var parames = {
            deleteId:$(evt.currentTarget).val(),
        }
        console.log(parames.deleteId);
            if(confirm("確定要刪除嗎？")){
            $.ajax({
            data: parames,
            url: '/deleteComment',
            method: 'POST',
            success: function(){
                console.log('delete successfully')
            }
            })
            console.log($(evt.currentTarget).closest('.comments'));
            
            $(evt.currentTarget).closest('.comments').hide();
        }
    })

    //刪除留言
    $(".Y-container").on("click", ".deleteSub", function(evt){
        evt.preventDefault()
        var parames = {
            deleteId:$(evt.currentTarget).val(),
        }
        console.log(parames.deleteId);
        if(confirm("確定要刪除嗎？")){
            $.ajax({
            data: parames,
            url: '/deleteComment',
            method: 'POST',
            success: function(){
                console.log('delete successfully')
            }
            })
            console.log($(evt.currentTarget).closest('.comment__sub'));
            
            $(evt.currentTarget).closest('.comment__sub').hide();
        }
    })

    //編輯留言
    $(".Y-container").on("submit", ".updateForm", function(evt){
        evt.preventDefault()
        let params = {
            updateId: $(evt.currentTarget).find('input[name="updateId"]').val(),
            updateComment:  $(evt.currentTarget).find('textarea[name="updateComment"]').val(),
        }
        $.ajax({
            data: params,
            url: '/updateComment',
            method: 'POST',
            success: function(){
                console.log('update successfully')
            }
        })
        console.log($(evt.currentTarget).parent().className)

        if($(evt.currentTarget).parent().hasClass('comment__main__updateForm')){
            params.updateComment = escapeOutput(params.updateComment)
            $(evt.currentTarget).closest('.comment__main').find('.comment__main__content').html(`<div class='rol'>${params.updateComment}</div>`);
        } else {    
            params.updateComment = escapeOutput(params.updateComment)                   
            $(evt.currentTarget).closest('.comment__sub').find('.comment__sub__content').html(params.updateComment);
        }
    })

    function prependMain(u_nickname, u_createdAt, u_id, u_content){
        u_content = escapeOutput(u_content)
        u_nickname = escapeOutput(u_nickname)
        return `<div class='comments d-flex flex-column w-60 center shadow-sm mb-2 bg-white'>
                    <div class='comment__main container bg-white p-3 bd'>
                        <div class='comment__main__info row justify-content-start align-items-center mb-3'>
                            <div class='col-1'><div class="head"></div></div>
                            <div class='col d-flex flex-column'>
                                <div class='comment__main__nickname'>${u_nickname}</div>
                                <div class='comment__main__createdAt'>${u_createdAt}</div>
                            </div>
                            
                            <div class="dropdown">
                                <button class="btn btn-outline-light dropdown-toggle btn-sm mr-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    ...
                                </button>
                                
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <button class="btn--delete dropdown-item" type="button" value="${u_id}" class="button">刪除</button>
                                    <button class="btn--edit dropdown-item" type="button" class="button" data-toggle="modal" data-target="#edit${u_id}">編輯</button>
                                </div>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="edit${u_id}" tabindex="-1" role="dialog" aria-labelledby="edit${u_id}Title" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="edit${u_id}Title">${u_nickname}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body comment__main__updateForm form-group p-3 bg-white">
                                <form class='updateForm' id="updateForm${u_id}">
                                    <input type='text' name='updateId' value="${u_id}" hidden>
                                    <textarea class="form-control" name="updateComment">${u_content}</textarea>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" form="updateForm${u_id}" class="btn btn--tulip">更新</button>
                            </div>
                            </div>
                        </div>
                        </div>

                        <div class='comment__main__content row'>
                            <div class="col">${u_content}</div>
                        </div>
                    </div>
                    <div class='comment__subs container p-3 bg-white'>
                    </div>
                    <div class='createSubComment container p-3 bg-test'>
                        <div class='comment__sub row justify-content-start mb-1 '>
                            <div class='col-1'>
                                <div class="head"></div>
                            </div>
                            <form class='bg-test createCommentForm'>
                                <div class='form-row align-items-start'>
                                    <input type='text' name='nickname' value='${u_nickname}' hidden>
                                    <input type='text' name='parent' value="${u_id}" hidden>

                                    <div class="col my-1">
                                        <textarea class="form-control" name="content" placeholder="回應："></textarea>
                                    </div>
                                    <div class="col-auto my-1 align-self-end">
                                        <button class="btn btn--tulip" type="submit">送出</button>
                                    </div>
                                </div>
                            </form>    
                        </div>
                    </div>
                </div>`
    }
    function prependSub(u_nickname, u_createdAt, u_id, u_content){
        u_content = escapeOutput(u_content)
        u_nickname = escapeOutput(u_nickname)
        return `
        <div class='comment__sub row justify-content-start mb-1'>
            <div class='col-1'>
                <div class="head"></div>
            </div>

            <div class='comment__sub__info col d-flex flex-column '>                              
                <div>
                    <div class='comment__sub__content bg-test p-2 round-25'>
                        <span class='sub__info--name'>${u_nickname}</span>&nbsp;
                        ${u_content}
                        <div class="dropdown" style="display: inline-block">
                            <button class="btn btn-light dropdown-toggle btn-sm mr-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ...
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <button class="btn--delete dropdown-item" type="button" value="${u_id}" class="button">刪除</button>
                                <button class="btn--edit dropdown-item" type="button" class="button" data-toggle="modal" data-target="#edit${u_id}">編輯</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="edit${u_id}" tabindex="-1" role="dialog" aria-labelledby="edit${u_id}Title" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="edit${u_id}Title">${u_nickname}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body comment__sub__updateForm form-group p-3 bg-white">
                            <form class='updateForm' id="updateForm${u_id}">
                                <input type='text' name='updateId' value="${u_id}" hidden>
                                <textarea class="form-control" name="updateComment">${u_content}</textarea>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" form="updateForm${u_id}" class="btn btn--tulip">更新</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        `
    }
    function escapeOutput(toOutput){
    return toOutput.replace(/\&/g, '&amp;')
        .replace(/\</g, '&lt;')
        .replace(/\>/g, '&gt;')
        .replace(/\"/g, '&quot;')
        .replace(/\'/g, '&#x27')
        .replace(/\//g, '&#x2F');
    }
</script>