<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>留言板</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/css/loginpage.css" rel="stylesheet" type="text/css">
</head>


<body>
    <ul class="d-flex bg-nav justify-content-between w-100 fixed-top p-2">
        <li class="nav-item">
            <a class="nav-link active" href="/comments">留言板</a>
        </li>
    </ul>
    
    <div class='body d-flex align-items-center pt-10'>
        <div class="container shadow-sm p-3 rounded w-40 mt-5">
            <h2 class='title text-center'>註冊</h2>
            <% if(err != ''){%>
                <div class="alert alert-warning" role="alert"><%=err%></div>
            <%}%>
            
            <form method='POST' action='./register'>
                <div class="form-group">
                    <label for="nickname">暱稱</label>
                    <input class="form-control" type='text' name='nickname' id='nickname' placeholder='請輸入暱稱'>
                </div>
                <div class="form-group">
                    <label for="userEmail">信箱</label>
                    <input class="form-control" type='email' name='userEmail' id='userEmail' placeholder='請輸入信箱'>
                </div>
                <div class="form-group">
                    <label for="userPassword">密碼</label>
                    <input class="form-control" type='password' name='password' id='userPassword' laceholder='請輸入密碼'>
                </div>
                <div class="form-group">
                    <label for="doublePassword">確認密碼</label>
                    <input class="form-control" type='password' name='doublePassword' id='doublePassword' placeholder='請再輸入一次密碼'>
                </div>
                <div class="d-flex mt-4">
                    <a href="/" class="btn w-50 mr-1 btn-border">已是會員</a>
                    <input class='btn w-50 ml-1' type='submit' name='submit' value='送出'>
                </div>
            </form>
            <div class="alert alert-danger mt-4" role="alert">
                此為練習作品，請勿輸入真實資料。
            </div>
        </div>
    </div>
</body>
</html>



