* {
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.bg-nav {
  width: 100vw;
  background: #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  z-index: 5;
}
.bg-nav .nav-item a {
  color: #FF8484;
  font-size: 34px;
}
.bg-nav .nav-item a:hover {
  font-weight: 700;
}

.body {
  margin: 0;
  padding: 100px;
  width: 100vw;
  height: 100vh;
  background: #F4CB6B;
}

.container {
  background: #E5E5E5;
}
.container .title {
  color: #FF8484;
}

.h-70 {
  height: 70vh;
}

.w-40 {
  width: 40vw;
}

form {
  width: 90%;
  margin: 0 auto;
}
form .btn {
  background: #FF8484;
  color: white;
}
form .btn:hover {
  background: #FFAAAA;
}
form .btn-border {
  background: white;
  border: 2px solid #FF8484;
  color: #FF8484;
}
form .btn-border:hover {
  background: #FFAAAA;
  color: white;
}
