.pagination * {
  color: #0E2963;
}

.nav-name {
  color: #0E2963;
  font-size: 30px;
  font-weight: 700;
}

.Y-container {
  background: #F4CB6B;
}

.pt-10 {
  padding-top: 100px;
}

.w-60 {
  width: 60vw;
}

.center {
  margin: 0 auto;
}

.round-25 {
  border-radius: 5px;
}

.comment__main__nickname {
  color: #0E2963;
  font-weight: 700;
  font-size: 26px;
}

.sub__info--name {
  color: #0E2963;
  font-weight: 700;
}

.bd {
  border-bottom: 1px solid #E5E5E5;
}

.btn--fun {
  position: relative;
}
.btn--fun ul {
  position: absolute;
}

.btn--tulip {
  background: #FF8484;
  color: white;
}

.head {
  width: 50px;
  height: 50px;
  background: #FF8484;
  border-radius: 15px;
}

.bg-test {
  background: #CFE8EF;
}
